.filter-dorpdown-contianer{
    width: 100%;
    height: 20vh;
    margin-top: 3rem;
    margin-bottom: 3rem;
    padding-left: 6rem;
}

.product-display{
    width: 100%;
    min-height: 50vh;
    max-height: auto;
    margin-bottom: 5rem;
    padding: 5rem;
}

.product-card {
    border: 1px solid #ddd;
    border-radius: 12px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: scale(1.03);
}

.description {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Show only 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.add-to-cart-btn {
    background-color: #52BE80 !important;
}

.quantity-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.quantity-btn {
    background-color: #52BE80;
    color: white;
    border: none;
    padding: 5px 15px;
    font-size: 18px;
    border-radius: 5px;
}

.quantity-number {
    font-weight: bold;
    font-size: 18px;
}