:root{
    --primary:#F2F3F4;
    --primaryButton:#52BE80;
    --white:#FDFEFE;
    --label-text:#1E1E2C;
    --plceholderText:#000000;
    --primaryGrey:#989C9C;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    min-height: 100vh;
    max-height: auto;
    background-color: var(--primary);
}

main{
    width: 100%;
    height: 100%;
    border: 1px solid red;
}

.header-section{
    width: 100%;
    height: 20vh;
    border: 1px solid green;
}
.header-section .row {
margin: 0;
padding: 0;
}
.header-section-customer-container{
    width: 100%;
    height: 20%;
    background-color:var(--primaryGrey) ;
    display: flex !important;
    flex-direction: row !important;
    justify-content: end !important;
    align-items: center;
    padding-right: 1rem;
}
.header-section-customer-container .customer-items{
    margin-left: 20px;

}
.header-section-customer-container .customer-items i{
    color: #52BE80;
    margin-left: 20px;
}  

.header-icon-container{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
    overflow: hidden;
   
}
.right-contianer{
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.image-contianer{
    width: 20%;
    height: 100%;
    overflow: hidden;
}

.image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.logo-text-contianer{
    width: 80%;
    height: 100%;
    overflow: hidden;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo-text-contianer h1{
    color: var(--primaryButton);
}
.left-container{
    min-width: 40%;
    max-width:  50%;
    height: 100%;
    padding-left: 5px;
    padding-right: 5px;
    background-color: red;
}